body{
    background-color: gray;
    margin: auto;
    color: ivory;
    text-shadow: .1rem 0.05rem 0.01rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 10rem 500rem rgba(0, 0, 0, .5);

}
header{
    margin: auto;
    background-color: black;
    padding: 25px;

}
nav{
    padding: 10px;
    font-size: 28px;

}
main{
    padding:150px;
}
p{
    text-indent: 40px;
    color: snow;
    font-size:24px;
    border:2px solid black
}
h3{
    font-size: 32px;
}
.projectslisting{
    padding:10px 40px 40px 40px;
}